<div class="move-main">
  <div class="card-wrap">
    <div class="card-header">👍</div>
    <div class="type-selector">
      <div class="type-tag" *ngFor="let type of getTypes()" [ngStyle]="{'background': getColor(type)}"
        (click)="toggleSelect(type)">
        <div class="type-selected" [ngStyle]="{'background': getSelectedDotColor(type)}"></div>
        <div class="type-text">{{type.chinese}}</div>
      </div>
      <div class="type-tag reset unset-grid" (click)="resetTypes()">
        <div class="type-text">重置</div>
      </div>
    </div>
  </div>

  <div class="card-wrap">
    <div class="card-header">🔮</div>
    <div class="weaknesses-result">
      <div class="type-tag unset-grid" *ngFor="let type of getTypes()"
        [ngStyle]="{'background': getEffectiveColor(type)}">
        <div class="type-text">{{type.chinese}}x{{getEffectiveMultiplier(type)}}</div>
      </div>
      <div class="type-tag reset unset-grid" (click)="resetTypes()">
        <div class="type-text">重置</div>
      </div>
    </div>
  </div>

  <div class="card-wrap">
    <div class="card-header">🗡️</div>
    <div class="strengths-result">
      <div class="type-tag unset-grid" *ngFor="let type of getTypes()"
        [ngStyle]="{'background': getColor(type, getStrengthTypes())}">
        <div class="type-text">{{type.chinese}}</div>
      </div>
      <div class="type-tag reset unset-grid" (click)="resetTypes()">
        <div class="type-text">重置</div>
      </div>
    </div>
  </div>

  <div class="card-wrap">
    <div class="card-header">🥄</div>
    <div class="weaknesses-result">
      <div class="type-tag unset-grid" *ngFor="let type of getTypes()"
        [ngStyle]="{'background': getColor(type, getWeaknessTypes())}">
        <div class="type-text">{{type.chinese}}</div>
      </div>
      <div class="type-tag reset unset-grid" (click)="resetTypes()">
        <div class="type-text">重置</div>
      </div>
    </div>
  </div>

  <div class="card-wrap">
    <div class="card-header">👻</div>
    <div class="immunes-result">
      <div class="type-tag unset-grid" *ngFor="let type of getTypes()"
        [ngStyle]="{'background': getColor(type, getImmunesTypes())}">
        <div class="type-text">{{type.chinese}}</div>
      </div>
      <div class="type-tag reset unset-grid" (click)="resetTypes()">
        <div class="type-text">重置</div>
      </div>
    </div>
  </div>
</div>
