.move-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 15em;
  column-count: 2;
  column-gap: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 15px;

  -webkit-box-shadow: 0 5px 8px 2px #777;
	-moz-box-shadow: 0 5px 8px 2px #777;
  box-shadow: 0 5px 8px 2px #777;

  .type-tag {
    margin-bottom: 1em;
  }
}
