@import './tag.less';

.move-main {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, 11em);
  margin: 0 auto;
}

.card {
  width: 11em;
  height: 31em;
  column-count: 2;
  column-gap: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;


  -webkit-box-shadow: 0 3px 2px -2px #777;
	-moz-box-shadow: 0 3px 2px -2px #777;
  box-shadow: 0 3px 2px -2px #777;

  .type-tag {
    margin-bottom: 1em;
  }
}

.unset-grid {
  grid-template-areas: none !important;
  grid-template-columns: none !important;
}

.card-header {
  .unset-grid();
  .type-tag();
  box-shadow: none;
  width: auto;
  background: #dfe6e9;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.strengths-result, .weaknesses-result, .immunes-result {
  .card();
}

.strengths-result { background: #55efc4; }
.weaknesses-result { background: #ff7675; }
.immunes-result { background: #636e72; }
